.header-container{
    border-bottom: 4px solid black;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}
.header-container h1{
    font-size: 2rem;
}
.right-sec{
    height: 2.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.right-sec button{
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
    height: 100%;
    color: black;
    background-color: white;
    padding: 0 1rem;
}
.right-sec button:hover{
    background-color: rgb(211, 211, 211);
}
.right-sec .icon{
    display: none;
}
.btnselection{
    background-color: black !important;
    color: white !important;
}
@media (max-width: 500px) {
    .header-container{
           padding: 2rem 2rem;
    }
    .right-sec .icon{
        display: inline;
    }
    .right-sec .text{
        display: none;
    }
    .header-container h1{
        font-size: 1.5rem;
    }
    .right-sec{
        height: 2.2rem;
    }
}