.generesec-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    gap: 1rem;
}

.title-sec h2 {
    font-weight: bold;
}

.movies-sec {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: content-box;
}

.movie {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 12rem;
    max-width: 12rem;
    gap: .3rem;
    box-sizing: content-box;
}

.poster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: .3rem .3rem;

    border: 3px solid black;
    width: 100%;
    flex: 1;
    min-height: 15rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.top {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.poster .rating {
    border: 2px solid black;
    background-color: white;
    padding: .1rem .3rem;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
}

.poster .watchlistbtn {
    min-width: 1.7rem;
    min-height: 1.7rem;
    max-width: 1.7rem;
    max-height: 1.7rem;

    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    padding: .1rem .4rem;
    padding-top: .4rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.movie p {
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.favorite {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'opsz' 24;

    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}

.favorite-active {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'opsz' 24;

    color: rgb(255, 0, 0);
    font-size: 1.1rem;
}