.container {
    width: 100%;
    height: 100vh;
}

.main-container {
    padding: 2.5rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


@media (max-width: 500px) {
    .main-container {
        padding: 2rem 2rem;
    }
}